@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply antialiased text-stone-900;
  }

  * {
    box-sizing: border-box;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .no-print {
    @apply print:hidden;
  }

  .print-only {
    @apply hidden print:block;
  }
}

@media print {
  body {
    background: white !important;
    font-size: 12pt;
  }

  .no-print {
    display: none !important;
  }

  main {
    max-width: 100% !important;
    padding: 0 !important;
  }
}
